.background--custom {
  background-color: #F5B972;
  width: 100vw;
  height: 140vh;
  position: absolute;
  overflow: hidden;
  z-index: -2;
  top: 0;
  left: 0;
}
canvas#canvas {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 60%;
  transform: rotate(60deg) scale(2) translateY(0%);
  --gradient-color-1: #DBB280; 
  --gradient-color-2: #997C5A; 
  --gradient-color-3: #DDBD97;  
  --gradient-color-4: #E6CCAD;
  --gradient-speed: 0.000006;
}

.thumb {
width: 48px;
height: 48px;
border-radius: 48px;
object-fit: cover;
}

.dp {
width: 48px;
height: 48px;
border-radius: 48px;
object-fit: cover;

}
body {
padding-top: 40px;
padding-bottom: 40px;
display: flex;
justify-content: center;

}
.Romeodp {
border: 2px black solid;
width: 128px;
height: 128px;
object-fit: cover;
border-radius: 128px;
}
.link a {
text-decoration: none;
flex-grow: 1;
}
.link {
background-color: transparent;
display: flex;
align-items: center;
padding: 5px;
border: black 2px solid;
border-radius: 25px;
text-shadow: 0px 0px 3px #000000;
}
.link:hover {
box-shadow: -1px 1px 6px 1px #000;
}
a:visited{

color:white;
}
.banner {

display: flex;
justify-content: center;
border-radius: 15px;
}

.name {
font-family:fantasy;
color: white;
display: flex;
justify-content: center;
text-shadow: 0px 0px 3px #000000;
font-size: 40px;
}

.items {
display: flex;
flex-direction: column;
gap: 30px;
max-width: 640px;
flex-grow: 1;
}
.socialicons {

display: flex;
align-items: center;
padding: 5px 75px 5px 75px;
justify-content: space-between;

}
.socialiconsthumb {
width: 38px;
height: 38px;
border-radius: 38px;
object-fit: cover;
border: 2px black solid;

}
.socialiconsthumb:hover {

box-shadow: -1px 1px 6px 1px #000;
transform: scale(1.5);
}
